.brder{color:aqua;border:2px solid red;background-color: rgb(125, 185, 69);;font-family: Georgia, 'Times New Roman', Times, serif;width :500px;border-bottom:0px;}

li{border:4px solid aqua;margin:3px;background-color: blue;color:rgb(255, 0, 0)}

span{color:aqua;border:3px solid rgb(0, 255, 64);background-color: rgb(226, 171, 18);}